<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>沁香园网上书店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" href="/css/stylea.css">
</head>
<body id="body">
<div th:replace="head::head"></div>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">关于我们</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post">
                    <div class="post-media post-thumb">
                        <a href="blog-single.html">
                            <img src="images/blog/blog-post-1.jpg" alt="">
                        </a>
                    </div>
                    <h2 class="post-title"><a href="blog-single.html">How To Wear Bright Shoes</a></h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="tf-ion-ios-calendar"></i> 20, MAR 2017
                            </li>
                            <li>
                                <i class="tf-ion-android-person"></i> POSTED BY ADMIN
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p></p>
                        <a href="blog-single.html" class="btn btn-main">Continue Reading</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="head::foot"></div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>