<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${book.bName}">沁香园网上书店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" href="/css/stylea.css">
</head>
<body id="body">
<div th:replace="head::head"></div>
<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a th:href="'/toShop/'+${book.bTypeId}+'/1'">商品列表</a></li>
                    <li class="active" th:text="${book.bName}"></li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="product-pagination text-right">
                    <li><a href="#"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
                    <li><a href="#">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
                </ol>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>
                                <div th:each="pic,userStat:${book.picList}" th:if="${userStat.index eq 0}" class='item active'>
                                    <img  th:src="${pic}"  alt='' th:data-zoom-image="${pic}" />
                                </div>
                                <div th:each="pic,userStat:${book.picList}" th:if="${userStat.index ne 0}" class='item'>
                                    <img th:src="${pic}" alt='' th:data-zoom-image="${pic}" />
                                </div>
                            </div>

                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>

                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li  th:each="pic,userStat:${book.picList}" th:if="${userStat.index eq 0}" data-target='#carousel-custom' th:data-slide-to='${userStat.index}' class='active'>
                                <img th:src="${pic}"  alt='' />
                            </li>
                            <li th:each="pic,userStat:${book.picList}" th:if="${userStat.index ne 0}" data-target='#carousel-custom' th:data-slide-to='${userStat.index}'>
                                <img th:src="${pic}" alt='' />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2 th:text="${book.bName}"></h2>
                    <p class="product-price" th:text="'￥'+${book.bPrice}"></p>

                    <p class="product-description mt-20" th:text="${book.bIntroduce}">
                    </p>
<!--                    <div class="product-size">-->
<!--                        <span>Size:</span>-->
<!--                        <select class="form-control">-->
<!--                            <option>S</option>-->
<!--                            <option>M</option>-->
<!--                            <option>L</option>-->
<!--                            <option>XL</option>-->
<!--                        </select>-->
<!--                    </div>-->
                    <div class="product-quantity">
                        <span>数量:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="1" name="product-quantity">
                        </div>
                    </div>
                    <input type="hidden" th:value="${book.bId}" id="bookId">
                    <a href="#" class="btn btn-main mt-20" style="font-size: 18px" onclick="addCart()">添加到购物车</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">商品详情</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">评价</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>书籍概要</h4>
                            <p>     </p>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                <ul class="media-list comments-list m-bot-50 clearlist">
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg" alt="" width="50" height="50" />
                                        </a>

                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>

                                                </h4>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
                                            </p>
                                        </div>

                                    </li>
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar" src="images/blog/avater-4.jpg" alt="" width="50" height="50" />
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
                                            </p>

                                        </div>

                                    </li>
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg" alt="" width="50" height="50">
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                            </p>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>相关商品</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <span class="bage">Sale</span>
                        <img class="img-responsive" src="images/shop/products/product-5.jpg" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
                                </li>
                                <li>
                                    <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Reef Boardsport</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="images/shop/products/product-1.jpg" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
                                </li>
                                <li>
                                    <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="images/shop/products/product-2.jpg" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
                                </li>
                                <li>
                                    <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Strayhorn SP</a></h4>
                        <p class="price">$230</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="images/shop/products/product-3.jpg" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
                                </li>
                                <li>
                                    <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Bradley Mid</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="head::foot"></div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/script.js"></script>
<script>
    function addCart() {
        let bookId = $("#bookId").val()
        let quantity = $("#product-quantity").val()
        if (quantity <1 ){
            alert("数量为0")
        }else{
            $.get("/addBook/"+bookId+"/"+quantity, function (data) {
                if (data.resultCode === 200) {
                    alert("添加成功")
                } else {
                    alert(data.msg)
                }
            });
        }
    }
</script>
</body>
</html>