<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>沁香园网上书店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" href="/css/stylea.css">
</head>
<body id="body">
<div th:replace="head::head"></div>
<div class="home-slider">
    <div>
        <div class="slider-item dark-bg" style="background-image:url('/images/slider/slider-1.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slide-inner text-left">
                            <h1>书店</h1>
                            <p>
                                <br>读书之法无他，惟是笃志虚心，反复详玩，为有功耳。</p>
                            <a href="/bookPaihang" class="btn btn-main">购买</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="slider-item white-bg" style="background-image:url('/images/slider/slider-2.jpg')">
            <div class="container">
                <div class="slide-inner text-center">
                    <h1>读一本好书</h1>
                    <p>读一本好书，就是和许多高尚的人谈话。</p>
                    <a href="/bookPaihang" class="btn btn-main">购买</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-item dark-bg"
             style="background-image:url('/images/slider/slider-3.jpg'); background-position:50%;background-repeat:no-repeat;">
            <div class="container">
                <div class="slide-inner text-left">
                    <h1>浏览</h1>
                    <p>立身以立学为先，立学以读书为本</p>
                    <a href="/bookPaihang" class="btn btn-main">购买</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>书籍分类</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="">
                        <img src="http://img56.ddimg.cn/9006260176098816.jpg" alt=""/>
                        <div class="content">
<!--                            <h3>Clothes Sales</h3>-->
<!--                            <p>Shop New Season Clothing</p>-->
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="">
                        <img src="http://img61.ddimg.cn/topic_img/gys_0016342/rc750x315.jpg" alt=""/>
                        <div class="content">
<!--                            <h3>Smart Casuals</h3>-->
<!--                            <p>Get Wide Range Selection</p>-->
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box category-box-2">
                    <a href="">
                        <img src="http://img63.ddimg.cn/topic_img/gys_0016342/yxjzz1200x1800.jpg" alt=""/>
                        <div class="content">
<!--                            <h3>Jewellery</h3>-->
<!--                            <p>Special Design Comes First</p>-->
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="category-box">
                    <a href="">
                        <img src="http://img63.ddimg.cn/topic_img/gys_0015409/0825trhxdkyc750315.jpg" alt=""/>
                        <div class="content">
<!--                            <h3>Jewellery</h3>-->
<!--                            <p>Special Design Comes First</p>-->
                        </div>
                    </a>
                </div>
            </div>
<!--            <div class="col-md-12">-->
<!--                <div class="category-box">-->
<!--                    <a href="">-->
<!--                        <img src="http://img62.ddimg.cn/topic_img/gys_0016105/ysqqspt750315.jpg" alt=""/>-->
<!--                        <div class="content">-->
<!--                            <h3>Jewellery</h3>-->
<!--                            <p>Special Design Comes First</p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>推荐书籍</h2>
            </div>
        </div>
        <div class="row">

            <div th:each="book:${bookList}" class="col-md-4" style="height: 450px;">
                <div class="product-item">
                    <div class="product-thumb">
                        <span class="bage">Sale</span>
                        <img class="img-responsive" th:src="${book.bPic}" alt="product-img"/>
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
                                </li>
                                <li>
                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a th:href="'/toBookInfo/'+${book.bId}" th:text="${book.bName}">Reef Boardsport</a></h4>
                        <p class="price" th:text="'￥'+${book.bPrice}">$200</p>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal product-modal fade" id="product-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tf-ion-close"></i>
                </button>
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <div class="modal-image">
                                        <img class="img-responsive" src="images/shop/products/modal-product.jpg"
                                             alt="product-img"/>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-short-details">
                                        <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                                        <p class="product-price">$200</p>
                                        <p class="product-short-description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil
                                            cum. Illo laborum numquam rem aut officia dicta cumque.
                                        </p>
                                        <a href="cart.html" class="btn btn-main">Add To Cart</a>
                                        <a href="product-single.html" class="btn btn-transparent">View Product
                                            Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="call-to-action bg-gray section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h2>欢迎来到书店</h2>
                    <p>在这里寻找最适合你灵魂的书籍</p>
                </div>
                <div class="col-lg-6 col-md-offset-3">
                    <div class="input-group subscription-form">
                        <input type="text" class="form-control" placeholder="输入你喜欢的书籍名称或者作者名称">
                        <span class="input-group-btn">
				        <button class="btn btn-main" type="button">开启!</button>
				      </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="head::foot"></div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
