<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>用户管理</title>
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/node_modules/jqvmap/dist/jqvmap.min.css"/>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <div th:replace="head::adminHead"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="head::adminLeft"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title" style="margin-right: 14%">用户管理
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <!-- 表头  -->
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>手机</th>
                                        <th>地址</th>
                                        <th>喜好</th>
                                        <th>是否为管理员</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 循环 -->
                                    <tr th:each="a: ${userList}">
                                        <td th:text="${a.uId}">1</td>
                                        <td th:text="${a.uName}">推荐</td>
                                        <td th:text="${a.uEmail}" class="text-danger"> 12461 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:text="${a.uPhone}" class="text-danger"> 12461 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:text="${a.uAddress}" class="text-danger"> 12461 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:text="${a.uHobby}" class="text-danger"> 12461 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:if="${a.uIsAdmin} eq 1" class="text-danger"> 否 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:if="${a.uIsAdmin} eq 0" class="text-danger"> 是 <i
                                                class="mdi mdi-arrow-up"></i></td>
                                        <td th:if="${a.uIsAdmin} eq 1">
                                            <a th:href="'/setAdmin/'+${a.uId}+'/0'">设为管理员</a>
                                        </td>
                                        <td th:if="${a.uIsAdmin} eq 0">
                                            <a th:href="'/setAdmin/'+${a.uId}+'/1'">取消管理员</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
