<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.hpwyx.manager.mapper.BHistoryMapper" >
  <resultMap id="BaseResultMap" type="xyz.hpwyx.manager.pojo.BHistory" >
    <id column="h_id" property="hId" jdbcType="INTEGER" />
    <result column="h_book_id" property="hBookId" jdbcType="INTEGER" />
    <result column="h_date" property="hDate" jdbcType="DATE" />
    <result column="h_user_id" property="hUserId" jdbcType="INTEGER" />
    <result column="h_is_add" property="hIsAdd" jdbcType="INTEGER" />
    <result column="h_type" property="hType" jdbcType="INTEGER" />
    <result column="h_mark" property="hMark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    h_id, h_book_id, h_date, h_user_id, h_is_add, h_type, h_mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from b_history
    where h_id = #{hId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_history
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.hpwyx.manager.pojo.BHistory" >
    insert into b_history (h_id, h_book_id, h_date,
      h_user_id, h_is_add, h_type, 
      h_mark)
    values (#{hId,jdbcType=INTEGER}, #{hBookId,jdbcType=INTEGER}, #{hDate,jdbcType=DATE}, 
      #{hUserId,jdbcType=INTEGER}, #{hIsAdd,jdbcType=INTEGER}, #{hType,jdbcType=INTEGER}, 
      #{hMark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.hpwyx.manager.pojo.BHistory" >
    insert into b_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hId != null" >
        h_id,
      </if>
      <if test="hBookId != null" >
        h_book_id,
      </if>
      <if test="hDate != null" >
        h_date,
      </if>
      <if test="hUserId != null" >
        h_user_id,
      </if>
      <if test="hIsAdd != null" >
        h_is_add,
      </if>
      <if test="hType != null" >
        h_type,
      </if>
      <if test="hMark != null" >
        h_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hId != null" >
        #{hId,jdbcType=INTEGER},
      </if>
      <if test="hBookId != null" >
        #{hBookId,jdbcType=INTEGER},
      </if>
      <if test="hDate != null" >
        #{hDate,jdbcType=DATE},
      </if>
      <if test="hUserId != null" >
        #{hUserId,jdbcType=INTEGER},
      </if>
      <if test="hIsAdd != null" >
        #{hIsAdd,jdbcType=INTEGER},
      </if>
      <if test="hType != null" >
        #{hType,jdbcType=INTEGER},
      </if>
      <if test="hMark != null" >
        #{hMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hpwyx.manager.pojo.BHistory" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 04 21:35:05 CST 2020.
    -->
    update b_history
    <set >
      <if test="hBookId != null" >
        h_book_id = #{hBookId,jdbcType=INTEGER},
      </if>
      <if test="hDate != null" >
        h_date = #{hDate,jdbcType=DATE},
      </if>
      <if test="hUserId != null" >
        h_user_id = #{hUserId,jdbcType=INTEGER},
      </if>
      <if test="hIsAdd != null" >
        h_is_add = #{hIsAdd,jdbcType=INTEGER},
      </if>
      <if test="hType != null" >
        h_type = #{hType,jdbcType=INTEGER},
      </if>
      <if test="hMark != null" >
        h_mark = #{hMark,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hpwyx.manager.pojo.BHistory" >
    update b_history
    set h_book_id = #{hBookId,jdbcType=INTEGER},
      h_date = #{hDate,jdbcType=DATE},
      h_user_id = #{hUserId,jdbcType=INTEGER},
      h_is_add = #{hIsAdd,jdbcType=INTEGER},
      h_type = #{hType,jdbcType=INTEGER},
      h_mark = #{hMark,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
</mapper>