<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.hpwyx.manager.mapper.BOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="xyz.hpwyx.manager.pojo.BOrderDetail" >
    <id column="od_id" property="odId" jdbcType="INTEGER" />
    <result column="od_order_id" property="odOrderId" jdbcType="INTEGER" />
    <result column="od_book_id" property="odBookId" jdbcType="INTEGER" />
    <result column="od_count" property="odCount" jdbcType="INTEGER" />
    <result column="od_price" property="odPrice" jdbcType="DECIMAL" />
    <result column="od_mark" property="odMark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    od_id, od_order_id, od_book_id, od_count, od_price, od_mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from b_order_detail
    where od_id = #{odId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_order_detail
    where od_id = #{odId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.hpwyx.manager.pojo.BOrderDetail" >
    insert into b_order_detail (od_id, od_order_id, od_book_id,
      od_count, od_price, od_mark
      )
    values (#{odId,jdbcType=INTEGER}, #{odOrderId,jdbcType=INTEGER}, #{odBookId,jdbcType=INTEGER}, 
      #{odCount,jdbcType=INTEGER}, #{odPrice,jdbcType=DECIMAL}, #{odMark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.hpwyx.manager.pojo.BOrderDetail" >
    insert into b_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="odId != null" >
        od_id,
      </if>
      <if test="odOrderId != null" >
        od_order_id,
      </if>
      <if test="odBookId != null" >
        od_book_id,
      </if>
      <if test="odCount != null" >
        od_count,
      </if>
      <if test="odPrice != null" >
        od_price,
      </if>
      <if test="odMark != null" >
        od_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="odId != null" >
        #{odId,jdbcType=INTEGER},
      </if>
      <if test="odOrderId != null" >
        #{odOrderId,jdbcType=INTEGER},
      </if>
      <if test="odBookId != null" >
        #{odBookId,jdbcType=INTEGER},
      </if>
      <if test="odCount != null" >
        #{odCount,jdbcType=INTEGER},
      </if>
      <if test="odPrice != null" >
        #{odPrice,jdbcType=DECIMAL},
      </if>
      <if test="odMark != null" >
        #{odMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hpwyx.manager.pojo.BOrderDetail" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 04 21:35:05 CST 2020.
    -->
    update b_order_detail
    <set >
      <if test="odOrderId != null" >
        od_order_id = #{odOrderId,jdbcType=INTEGER},
      </if>
      <if test="odBookId != null" >
        od_book_id = #{odBookId,jdbcType=INTEGER},
      </if>
      <if test="odCount != null" >
        od_count = #{odCount,jdbcType=INTEGER},
      </if>
      <if test="odPrice != null" >
        od_price = #{odPrice,jdbcType=DECIMAL},
      </if>
      <if test="odMark != null" >
        od_mark = #{odMark,jdbcType=VARCHAR},
      </if>
    </set>
    where od_id = #{odId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hpwyx.manager.pojo.BOrderDetail" >
    update b_order_detail
    set od_order_id = #{odOrderId,jdbcType=INTEGER},
      od_book_id = #{odBookId,jdbcType=INTEGER},
      od_count = #{odCount,jdbcType=INTEGER},
      od_price = #{odPrice,jdbcType=DECIMAL},
      od_mark = #{odMark,jdbcType=VARCHAR}
    where od_id = #{odId,jdbcType=INTEGER}
  </update>
</mapper>